.Popular-collection * {
    box-sizing: border-box;
  }
  
  .Popular-collection .flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
  }
  
  .Popular-collection .flex-item-left {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 50%;
  }
  
  .Popular-collection .flex-item-right {
    background-color: dodgerblue;
    padding: 10px;
    flex: 50%;
  }